*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
:root{
    --text-color-grey:#6D6D6D;
    --text-color-title:#135695;
    --text-color-selection:#3DA8D0;
    --text-color-gree:#47AB57;
    --back-color-blue:#EDF2F8;

}
::selection {
    background-color:var(--text-color-selection);
    color: #000000;

}


p {
    font-family: "Open Sans", sans-serif;
}
#img-logo{width: 200px;}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    background-color: #EDEDED;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 0px;
    
}

/*-----------N A V B A R -------------------------*/
 
.navbar{
    background-color:var(--back-color-blue);
    display: flex;
    justify-content: space-around;
   /* max-width: 1400px; acho que vai limitar a tela*/
    min-height: 80px;
    width: 100%;
    align-items: center;
    box-shadow: 0 0 12px #00000061;
    position: fixed;
    top: 0px;
    z-index: 5;
}
.navbar-option{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 0px 70px 0px 70px;

    text-decoration: none;
    list-style: none;
    font-family: "Open Sans", Sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    
}
.navbar-option li{
    color:var(--text-color-grey);

    font-size: 15px;
    font-weight: 600;
    word-break: break-all;
    height: 100%;

}
.navbar-option li > a{
    padding: 34px 8px 40px 8px;
}
.navbar a{
    align-items: center;
    justify-content: center;
    color:var(--text-color-grey);

}

#search {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 30px;
    padding: 23px;
    position: relative;
}


#language{
    display: flex;
    width: 60px;
    justify-content: space-between;
}

.navbar-contact {
    overflow: visible;
    position: absolute;
    display: none;
    text-decoration: none;
    list-style: none;
}
.navbar-option li:hover{
    box-shadow: inset 0 100px 0 0  var(--text-color-selection); /*inset: sombra interna
    0 desolamento horinzontal 100px desloc. vertical 0 desfoque 0 propagacao */
    
}
.navbar-option li a:hover{
    color: #EDEDED;
}

.navbar-option li{
    box-shadow: inset 0 0 0 0  var(--text-color-selection);
    -webkit-transition: ease-out 0.2s;
    -moz-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
    cursor: pointer;
    
}
/*------------------B U T T O N  T O P---------------------*/
#button-top{
    width: 40px;
    height: 40px;
    border-radius: 9px;
    z-index: 7;
    position: fixed;
    background: #135695;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 30px;
    bottom: 30px;
    transition-delay: 250ms;

}
#button-top ion-icon{
    font-size: 30px;
    color: white;
}
/*----------------D R O P D O W N --------------------*/
/*AREA DO DROPDOWN CONTATO*/
.dropdown > a{
    padding-bottom: 10px;
}
.dropdown a{
    text-decoration: none;

}
ul li a{
    display: inline-block;
}
.dropdown-menu{
    position: absolute;
    z-index: 3;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    display: none;

}
.dropdown-menu a{
    display: block;
    background-color:#EDEDED;
    font-family: "Open Sans", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform:initial;
    padding:10px;
    border-bottom: 1px solid rgba(66, 66, 66,11% );
}

.dropdown-menu a:hover{
        background-color: var(--text-color-selection); /*inset: sombra interna
        0 desolamento horinzontal 100px desloc. vertical 0 desfoque 0 propagacao */
        
}
.dropdown-menu a{
        transition: 0.4s;
}

.dropdown:hover .dropdown-menu{
    display: block;
}



/*para montar o tringulo fiz tres lados iguais, deixando 2 tranaprente para não ficar quadrao*/

.arrow-down{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    margin-left:4px;
}
#contact{
    align-items: center;
    display: flex;
}


h1,h3{
    font-family: "Montserrat", Sans-serif;
    text-transform: uppercase;
    line-height: 1.4em;

    color:var(--text-color-title);
}
h1{
    font-weight: 800;
    font-size: 40px;
}
h3{
    text-align: end;
    width: 70%;
    font-size: 25px;
    font-weight: 700;
}
/*-------------------A B O U T  I N I C I O------------------------*/
.site-content{
    background-image: url(/assets/linha-bg.svg);
    background-size: 100%;
    background-position: bottom;
}

#about-initial{

padding-top: 7%;
display: flex;
width: 90%;
}
/*--------------A P R E S E N T A Ç A O ----------------------*/


.title-description{
grid-area: title-description;
}
.img-description{
grid-area: img-description;
}
.text-description-one{
grid-area: text-description-one;
}
.text-description-two{
grid-area: text-description-two;
}

#initial-description{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:"title-description img-description text-description-two"
                        "text-description-one img-description text-description-two"
}


.text-description-one , .text-description-two p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-size: 1rem;
    line-height: 1.6em;
    color:var(--text-color-grey);
    
}

#initial-description{

    width: 80%;
}
.img-description img{
    width: 340px;
}
.content-description{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/linha-bg.svg);
    background-position: 0px -600px;
    /*background-size: 115% auto;*/
    padding: 50px 0px 50px 0px;
    background-repeat: no-repeat;
}

/*------------------*/
.section-apresentation{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 470px;
    position: relative;

}
.section-apresentation p{
/*------------------*/
    font-family:"Montserrat", Sans-serif;
    font-weight: 700;
    font-size: 1.7em;
    text-align: center;
    color: #EDEDED;
}

.section-apresentation > .background-video{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /*apenas um -1 é necessário quando se trabalha com relative + absolute, sendo pai e filho*/
    width: 100%;
    height: 100%;
    overflow: hidden; /* evita do video passar a altura desejada do .wrap */

}
.section-apresentation > .background-video > video{
    width: 100%;
}

.elementor-background-overlay{
    background-color: var(--text-color-selection);
    opacity: 0.85;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
}

/*-------------C O L A G E M -------------------*/
.colage-group{
    width: 100%;
    display: flex;
    margin: 0 0px -11px 0;

}

#img-operator{
    width: 20%;
    
}
#img-text-one{
width: 41.05%;


}
#img-operations{

width: 39.1%;
}
#img-vehicles{
    width: 61%;
}
#img-collaborators{
    width: 21%;
}
#img-office{
    width: 19.666%;
}
.img-select{
    width: 100%;
}
#section-client{
    padding: 50px 0px 50px 0px;
}
#section-client h2{
    text-align: center;
    font-family:"Montserrat", Sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-color-gree);
}


/*---------F O O T E R ---------------------------*/
#footer{
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
}
#content-footer{
    width: 75%;
}
#politic{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3%;
    padding: 60px 0 40px 0 ;
    margin: auto;

    border-bottom: dotted 1px var(--text-color-grey);
}
#politic a{
    text-decoration: none;
    font-family: "Open Sans", Sans-serif;
    color: var(--text-color-grey);
    font-size: 15px;
}
#politic a:hover{
    color: var(--text-color-selection);
}
#links{
    display: flex;
    width: 100%;
    padding: 50px 5px;
    align-items: center;
    justify-content: space-between;


}
#links img{
    width: 190px;
}
#logo-footer{
    
}
#link-site{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
#link-site div{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8%;
}
#link-site div a{
    text-decoration: none;
    color: var(--text-color-grey);
    font-family: "Open Sans", Sans-serif;
    font-size: 12px;
    padding-bottom: 5px;

}
#link-site div a:hover{
    color: var(--text-color-selection);
    
}

#link-site-content{

}
#link-social{
    
}
#copyright{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3%;
}
#copyright p{
    color: #54595f;
    font-size: 11px;
    font-weight: 400;
}
#link-social{
    width: 20%;
    display: flex;
    gap: 8%;
    justify-content: right;
}
#link-social ion-icon{
    color: #69727d;
    font-size: 20px;
    font-weight: 200;
}
#link-social ion-icon:hover{
    color: var(--text-color-selection);

}