*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
:root{
    --text-color-grey:#6D6D6D;
    --text-color-title:#135695;
    --text-color-selection:#EA9600;

}
::selection {
    background-color:var(--text-color-selection);

}


p{
    font-family: "Open Sans", sans-serif;
}
#img-logo{width: 200px;}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    background-color: #EDEDED;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 0px;
    
}
.navbar{
    
    display: flex;
    justify-content: space-around;
    max-width: 1400px;
    min-height: 80px;
    width: 100%;
}
.navbar-option{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;

    text-decoration: none;
    list-style: none;
    font-family: "Open Sans", Sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    
}
.navbar-option li{
    color:var(--text-color-grey);
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
    word-break: break-all;
}
.navbar a{
    align-items: center;
    justify-content: center;
    color:var(--text-color-grey);

}

#search {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 30px;
    padding: 23px;
    position: relative;
}


#language{
    display: flex;
    width: 60px;
    justify-content: space-around;
}

.navbar-contact {
    overflow: visible;
    position: absolute;
    display: none;
    text-decoration: none;
    list-style: none;
}
h1,h3{
    font-family: "Montserrat", Sans-serif;
    text-transform: uppercase;
    line-height: 1.4em;

    color:var(--text-color-title);
}
h1{
    font-weight: 800;
    font-size: 40px;
}
h3{
    font-size: 25px;
    font-weight: 700;
}


/*------------------*/
@media (max-width: 700px) {
    .navbar-option{
        display: none;
    }
}
